<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频详情</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>