<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>个人中心</title>-->
    <title>视频教程</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 video">
            <a href="/video/BV1Ws411o7kC"><img src="/images/不为人知的美国历史.jpg" alt=""></a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 video">
            <a href="/video/BV1Yt411F7jH"><img src="/images/SpringBoot-视频教程.jpg" alt=""></a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 video">
            <a href="/video/BV1dz4y1C7px"><img src="/images/沙雕动画.jpg" alt=""></a>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>